version: '3'
services:
    web:
        image: nginx:latest
        ports:
            - "80:80"
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/nginx.conf
            - ../:/app
    php:
        build:
            context: .
            dockerfile: PHP.Dockerfile
        volumes:
            - ../:/app
        environment:
            DOCKER_ENV: ${DOCKER_ENV}
    db:
        image: mariadb:latest
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        volumes:
            - mysqldata:/var/lib/mysql
            - ./test-db:/tmp/db            
        ports:
            - 3306:3306
        command: mysqld --init-file="/tmp/db/a-infoinovadb.sql"
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links: 
            - db:db
        ports:
            - 8000:80
        environment:
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
volumes:
    mysqldata: {}